* {
...margin:0;
...padding:0;
}

html, body {
    margin: 0;
}

.menu.list {
    list-style: nome;
    padding: 10px 0;
    text-align: center;
}
.menu.list li {
    display: inline;
    margin: 0 5px 
}