{

    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {  
        // "https://typescript-eslint.io/rules/consistent-type-definitions": "Off"
    }

}